<html>
<head>
<body
	style="PADDING-BOTTOM: 0px; LINE-HEIGHT: 1.5; MARGIN: 25px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: 'Segoe UI', Tahoma, Helvetica, Sans-Serif; PADDING-TOP: 0px">

	<table align="center"
		style="WIDTH: 750px; HEIGHT: 530px; border-collapse: collapse">

		<tbody>

			<!-- Header Section -- starts -->

				<tr height="30px" bgcolor="#f2f2f2">
				<td valign="middle" 
					style="border-bottom:7px double #326f99; font-family: Calibri; position: relative; padding-left: 1cm; padding-top: 0cm; padding-bottom: 0cm;display: inline; color: white">
						<!-- <i><font size="6" style="float:left"><b>Century Continuous Integration </font><font size="5" style="float:right; "><b>Automated Deployment</font></i> -->
					<h1 style="text-align:left; color:#326f99; "><i>Century Continuous Integration </i></h1></td></tr>
					<tr height="30px" bgcolor="#f2f2f2"><td  valign="right"
					style="font-family: Calibri; position: relative; padding-left: 1cm; padding-top: 0cm; padding-bottom: 0cm;padding-right: 0.5cm; display: inline; color: white">
					<h1 valign= "top" style=" color:#326f99;text-align : right;  vertical-align: top;"><i>EKS Automated Deployment</i></h1>
					</td></tr>
				
				<!-- Header Section -- Ends -->

			<!-- Message Section -- Starts -->


			<tr height="20px" bgcolor="#FFFFFF">

				<td
					style="padding-left: 1cm; padding-right: 1cm; padding-top: 1cm; font-family: Calibri; font-size: 14.5px; color: #4d574f">
					<p style="word-spacing: 1px;">Build has been initiated for <b>${PROJECT_NAME}</b></p>
				</td>


			</tr>
			<tr height="180" bgcolor="#fbfbfb">
				<td style="padding-left: 1cm">
					<table style="border-collapse: collapse">
						<tr bgcolor="#b3d1e6">
							<td style="font-family: Calibri; font-size: 14.5px; color: #4d574f"><b>&nbsp;&nbsp;Build
									Summary</b></td>


						</tr>

						<tr>
							<td>
								<table style="border: 1px solid #adadad">

									<tbody>
										<tr>
											<td
												style="font-family: Calibri; width: 160px; font-size: 14px"><b>Build ID</b></td>
											<td style="width: 80px"></td><td>&nbsp;&nbsp;:&nbsp;&nbsp;</td>
											<td
												style="font-family: Calibri; font-size: 14px; align: center"><b>&nbsp;&nbsp; ${BUILD_NUMBER} &nbsp;&nbsp;</b></td><td style="width: 190px">
										</tr>
										
										
										<tr>
											<td
												style="font-family: Calibri; width: 160px; font-size: 14px">Cause</td>
											<td style="width: 80px"></td><td>&nbsp;&nbsp;:&nbsp;&nbsp;</td>
											<td
												style="font-family: Calibri; font-size: 14px; align: center">&nbsp;&nbsp;${CAUSE}&nbsp;&nbsp;</td><td style="width: 190px">
										</tr>
										<tr>
											<td
												style="font-family: Calibri; width: 160px; font-size: 14px">Release</td>
											<td style="width: 80px"></td><td>&nbsp;&nbsp;:&nbsp;&nbsp;</td>
											<td
												style="color: #878787; font-family: Calibri; font-size: 14px; align: center">&nbsp;&nbsp;20.09&nbsp;&nbsp;</td><td style="width: 190px">
										</tr>
										<tr>
											<td style="font-family: Calibri; font-size: 14px">Project</td>
											<td style="width: 80px"></td><td>&nbsp;&nbsp;:&nbsp;&nbsp;</td>
											<td
												style="color: #878787; font-family: Calibri; font-size: 14px">&nbsp;&nbsp;NSL&nbsp;&nbsp;</td><td style="width: 190px">
										</tr>
										
																			
										<tr>
											<td style="font-family: Calibri; font-size: 14px">Build URL</td>
											<td style="width: 80px"></td><td>&nbsp;&nbsp;:&nbsp;&nbsp;</td>
											<td
												style="color: #878787; font-family: Calibri; font-size: 14px">&nbsp;&nbsp;${BUILD_URL}</td><td style="width: 190px">
								
										</tr>
										
										<tr>
											<td style="font-family: Calibri; font-size: 14px">Status</td>
											<td style="width: 80px"></td><td>&nbsp;&nbsp;:&nbsp;&nbsp;</td>
											<td
												style="font-family: Calibri; font-size: 14px">&nbsp;&nbsp;<b>STARTED</b>&nbsp;&nbsp;</td><td style="width: 190px">
										</tr>
										

									</tbody>

								</table>
							</td>

						</tr>
					</table>
				</td>			
				</tr>
				
						
						
           <tr height="20px" bgcolor="#fbfbfb"><td height="20px">&nbsp;&nbsp;</td></tr>


			<tr  bgcolor="#f2f2f2">
				<td
					style="PADDING-BOTTOM: 0cm; FONT-FAMILY: Calibri; PADDING-TOP: 0cm; font-size: 12px; color: #878787">
					<p align="center">&copy;Copyright 2019, &nbsp;Version : <b>3.0</b>.&nbsp;Designed & Developed by <b>DevOps </b></p>
				</td>
			</tr>
			<tr >
				<td
					style="PADDING-BOTTOM: 0.15cm; FONT-FAMILY: Calibri; PADDING-TOP: 0.2cm; font-size: 9px; color: #878787; vertical-align: top">
					<p align="center">THIS IS THE SYSTEM GENERATED EMAIL. HENCE DO NOT REPLY.</b></p>
				</td>
			</tr>
		</tbody>
	</table>

</body>
</html>